<%- include('partials/header.ejs') %>
<%- include('partials/home-navbar') %>
<body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome</h1>
        <p class="lead">This is a simple blog to study Node.js with Express and Sequelize</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>
      <% articles.forEach(article => { %>
        <div class="card">
          <div class="card-header">
            <h2><%= article.title %></h2>
          </div>
          <div class="card-body">
            <a href="<%=article.slug%>" class="btn btn-success">Read</a>
          </div>
        </div>
        <br>
    <% }) %>
    </div>  
</body>
<%- include('partials/footer.ejs') %>
