<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Update Article</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/articles/update">
                <input class="form-control" type="text" name="title" value="<%= article.title %>">
                <br>
                <label>Category</label>
                <select name="categoryId" class="form-control">
                    <% categories.forEach((category) => { %>
                        <option value="<%= category.id %>"><%=category.title %> </option>
                    <% }) %>
                </select>
                <br>
                <textarea class="form-control" placeholder="Content" name="content" id="article"><%= article.content %></textarea>
                <input type="hidden" name="id" value="<%= article.id%>">
                <br>
                <button class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>
<%- include('../../partials/footer.ejs') %>

<!-- Script element sourcing TinyMCE -->
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<!-- Script element sourcing the TinyMCE configuration -->
<script type="application/javascript" src= "/js/tinymce-config.js"></script>